@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Regular.ttf);
   }
body{
	background-image: url('images/background.svg');
	padding: 100px 100px 100px 100px;
	font-family: Roboto;
	font-style: normal;
}
h1{
	line-height:56px;
	font-size: 48px;
}
.bodypage{
	flex-wrap: wrap;
	display: block;
	width:1300px;
	height:900px;
	background: #F4F6F9;
	position: absolute;
	left: 15%;
	top: 2%;
	border-radius: 40px 40px 40px 40px;
}

.nav{
	width:10%;
	height:100%;
	background: #FF5800;;
	border-radius: 40px 0px 0px 40px;
	float: left;
}

.site-main{
	display: none;
	position: center;
	/*padding: 35px;*/
	padding-left: 65px;
	float: left;
}

.nav-icon{
	padding: 20%;
	padding-bottom: 30%;
	opacity: 0.5;
}

.nav-icon:hover, .clicked{
	opacity: 1;
}

.right{
	float: right;
	padding-right: 15%;
}

.left-content, .right-content{
	position: relative;
	display: inline;
}
.right-content{
	position: absolute;
	top: 0px;
	right: 0px;
}
.planet-img{
	width: auto;
    height: 350px;
	display: block;
	border-radius: 0px 40px 0px 0px;
}
.underline{
	border-bottom: 1px solid #D8DCE3;
}
.text-padding{
	padding-bottom: 3%;
	padding-top: 3%;
}

.main-status{
	width: 165%;
	margin-top: 15%;
	margin-left: auto;
	height: auto;
	background: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.weather-status{
	width: 165%;
	margin-top: 15%;
	margin-left: auto;
	height: auto;
	background: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.crew-status{
	width: 165%;
	margin-top: 15%;
	margin-left: auto;
	height: auto;
	background: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.status-header{
	padding-top: 3%;
	padding-left: 5%;
}
.button-go{	
	background: #E4E4E4;
	border: none;
	width: 170%;
	height: 3.5%;
	border-radius: 10px;
}
.status-list{
	padding-bottom: 2%;
	padding-left: 11%;
}
.status-list li{
	list-style-image: url("images/redstat.png");
	padding-bottom: 2%;
}
.status-list li:last-child{
	list-style-image: url("images/greenstat.png");
}
a{
	text-decoration: none;
}
.rocket-img{
	width: auto;
    height: 450px;
	display: block;
	padding-top:25%;
}
.weather-list{
	display: inline-grid;
	width: 60%;
	padding: 4%;
}
.crew-list{
	display: inline-grid;
	width: 60%;
	padding: 4%;
}
.ship-list{
	display: inline-grid;
	width: 60%;
	padding: 4%;
}
.bold{
	font-weight: bold;
}
.bold.__captain{
	color: red;
}
.bold.__engineer{
	color: orange;
}
.bold.__doctor{
	color: green;
}
.bold.__marine{
	color: blue;
}
.weather-list div{
	padding-left: 4%;
	width: 150%;
	float: left;
}
.crew-list div{
	padding-left: 4%;
	width: 150%;
	float: left;
}
.weather-list div span{
	width: 50%;
	float: left;
}
.crew-list div span{
	width: 50%;
	float: left;
}
.ship-list div span{
	width: 50%;
	float: left;
}
#ships{
	width: 1100px;
}
.ship{
	width: 45%;
	margin: 0;
}
.ship .rocket-info .text-padding{
	width: 60%;
}
.build-btn{
	width: 130%;
	background-color: #73E24D;
	color: white;
	border-radius: 10px;
	border: none;
	height: 3%;
}
.rocket-info{
	padding: 10px;
}
.rocket-info div{
	width: 80%;
}
.ship-img{
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 3%;
    float: left;
	display: inline-block;
}
.ship-choose{
	display: inline-block;
	padding-top: 10px;
	width: 30%;
	margin-top: 5%;
	margin-right: 5%;
	background: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	border: 1px black solid;
}
.ship-choose img{
	height: 80px;
}
#rocket-icon{
	height: 65px;
	width: 65px;
}
.radio-field{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 35%;
	margin-top: 20px;
	background-color: #D1E1FA;
	border-radius: 0px 0px 10px 10px;
	border-top: 1px solid black;
	float: initial;
}
.radio-field input::after{
	background-color: lawngreen;
}
.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio + label {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.radio + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}